API_BASE_URL=your_api_base_url_here
API_PROD_BASE_URL=your_prod_api_base_url_here
VITE_API_BASE_URL=https://examine-api.onrender.com

// 測試A的token
NORMAL_MERCHANT_API_TOKEN=your_default_token_here
INDIA_BANGLADESH_MERCHANT_API_TOKEN=your_india_bangladesh_token_here
PROD_MERCHANT_API_TOKEN=your_prod_default_token_here
PROD_MERCHANT_API_TOKEN_INDIA_BANGLADESH=your_prod_india_bangladesh_token_here

// channels
DEPOSIT_URL=your_deposit_endpoint_here
SUBSCRIPTION_URL=your_subscription_endpoint_here
PAYOUT_URL_BANK=your_bank_payout_endpoint_here
PAYOUT_URL_CO_WALLET=your_co_wallet_payout_endpoint_here
PAYOUT_URL_IMPS=your_imps_payout_endpoint_here
PAYOUT_URL_BD_WALLET=your_bd_wallet_payout_endpoint_here

// procuct_no/subscription plan
DEPOSIT_SOUTHAFICA_CARDS=your_southafrica_cards_product_no_here
DEPOSIT_LINEPAY=your_linepay_product_no_here
DEPOSIT_TOUCHGO=your_touchgo_product_no_here
DEPOSIT_RABBIIT=your_rabbitlinepay_product_no_here
DEPOSIT_CO_PSE=your_pse_product_no_here
DEPOSIT_CO_NEQUI=your_nequi_product_no_here
DEPOSIT_CO_BANK=your_bank_transfer_product_no_here
DEPOSIT_CO_CASH=your_cash_product_no_here

PAYOUT_CO_BANK=your_co_bank_payout_product_no_here
PAYOUT_CO_WALLET=your_co_wallet_payout_product_no_here
PAYOUT_IMPS=your_imps_payout_product_no_here
PAYOUT_BD_WALLET=your_bd_wallet_payout_product_no_here

SUBSCRIPTION_PLAN=yor_subscription_sandbox_plan_id_here
SUBSCRIPTION_PLAN_PROD=your_subscription_prod_plan_id_here

//signature
// 這是測A的簽名
MERCHANT_ID=yout_merchant_id and signature_key_here

//webhook
CALLBACK_URL_DEPOSIT=https://webhook.site/b020db98-0d1a-448c-b712-e6c15f7173e7
CALLBACK_URL_SUBSCRIPTION=https://webhook.site/3fb602f2-d5fe-42bb-b5e4-d39b710fde51
